html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #fff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  border: none !important;
}

a:link {
  color: #2688ff;
}

a:visited {
  color: #2688ff;
}

a:hover {
  color: #26aaff;
  border-bottom: none;
}

.post-album {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0 2rem 0;
}

.post-album-item {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0em 0.75em 0em 0.75em;
  font-size: 16px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  align-items: flex-start;
}

.post-album-item div {
  flex-direction: column;
  margin: 0;
}

.post-album-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.post-album-item img {
  display: block;
  min-width: 100%;
  max-width: 100%;
  margin: 0 0 5px;
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #212121;
}

.post-album-item div h1 {
  text-align: left;
  color: #212121;
  font-size: 26px;
  line-height: 1.4em;
  padding: 0 1rem 0 1.25rem;
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

.post-album-item div p {
  font-size: 1em;
  line-height: 1.7em;
  color: #929292;
  text-align: left;
  font-weight: 300;
  padding: 0 1rem 1.5rem 1.25rem;
}

.blog-post {
  margin: 0 auto;
  max-width: 60vw;
  padding-bottom: 4rem;
}

@media (max-width: 1080px) {
  .blog-post {
    max-width: 100%;
    width: 100%;
    padding: 0 1rem 4rem 1rem;
  }
}

.blog-post div a,
.blog-post p a {
  color: #2688ff;
}

.blog-post h2 {
  color: #929292;
}

.blog-post p {
  color: #212121;
  font-size: 18px;
}

.blog-post img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (max-width: 1600px) {
  .post-album-item img {
    max-height: 200px;
  }
}

@media (max-width: 960px) {
  .post-album {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .post-album {
    grid-template-columns: 1fr;
  }

  .post-album-item div h2 {
    font-size: 24px;
  }

  .post-album-item div p {
    font-size: 1em;
  }
}
